body{
    padding: 100px;
}
ul
{
    justify-content: center;
    list-style: none;
}
#container1
{
    border: 1px solid black;
    /* margin: 15px; */
}

#row1
{
    margin: 15px;
}

#riga3
{
    margin: 15px;
}

#riga2_colonna1
{
    border: 1px solid black;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40%;
}

#riga3_colonna1
{
    border: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}


#riga4_colonna1
{
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 27px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 50px;
}

#riga1_colonna2
{
    border: 1px solid black;
    /* margin-left: 70px;
    margin-right: 115px;
    margin-bottom: 30px; */
}
#nominativi
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flexbox;
    display: -webkit-flex;
    justify-content: center;
}
.blocconomi
{
    border: 1px solid black;
    display: flexbox;
    display: -webkit-flex;
    justify-content: center;
    margin-top: 4px;
}